.categoriesItemWrapper{
    width: 248px;
    height: 392px;
    position: relative;
}

.categoriesImage {
    width: 248px;
    height: 350px;
    position: absolute;
}

.categoriesTitle{
    width: 248px;
    height: 26px;
    position: absolute;
}