.categoriesItemWrapper{
    width: 248px;
    height: 392px;
    margin: 32px;
}

.categoriesImage {
    width: 248px;
    height: 350px;
    object-fit: cover;
}

.categoriesTitle{
    width: 248px;
    height: 26px;
}