.notFoundWrapper {
  background-color: #fffff1;
  width: 100%;
  max-width: 1440px;
  padding: 80px 20px 20px 20px;
}

.notFoundWrapper.dark {
  background-color: #424436;
}

.notFound {
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
  text-align: center;
}
.imgWrapper {
  max-width: 690px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  
}

.notFoundImg {
  background-image: url('../../assets/notFoundImg.png');
  width: 300px;
  height: 270px; 
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid red;
}

.pageNotFoundText {
  font-weight: 700;
  font-size: 64px;
  line-height: 70.4px;
  text-align: center;
  color: #424436;
  margin-top: 32px;

  @media screen and (max-width: 800px) {
    font-size: 56px;
    line-height: 61.6px;
  }
  @media screen and (max-width: 500px) {
    font-size: 48px;
    line-height: 53px;
  }
  @media screen and (max-width: 400px) {
    font-size: 40px;
    line-height: 44px;
  }
}

.pageNotFoundText.dark{
  color: #ffffff;
}

.notFoundDescription {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #8b8b8b;
  margin: 16px 0 32px 0;
  @media screen and (max-width: 500px) {
    font-size: 18px;
    line-height: 23.4px;
  }
  @media screen and (max-width: 800px) {
    margin: 12px 0 24px 0;
  }
}

.btn {
  width: 209px;
  height: 58px;
  gap: 10px;
  border-radius: 6px;
  opacity: 0px;
  background-color: #92a134;
  border: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.btn:active {
  background-color: #424436;
  transform: translateY(4px);
}
