.notFoundWrapper{
    width: 100%;
    max-width: 770px;
    margin: 80px auto 80px auto;
}

.notFoundImg{
    width: 100%;
    max-width: 300px;
    height: 270px;
}

.number4{
    font-weight: 179.4px;
    font-size: 245.88px;
    color: #92A134;

}
