.productWrapper {
  background-color: #fffff1;
  padding: 40px;
  @media screen and (max-width: 1000px) {
    padding: 20px;
  }
}

.productWrapper.dark {
  background-color: #424436;
}
.product_card {
  border-radius: 10px;
  max-width: 1360px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  grid-template-areas:
    "image title"
    "image praices"
    "image description";

  @media screen and (max-width: 900px) {
    gap: 20px;
    grid-template-areas:
      "title title"
      "image praices"
      "description description";
  }
  @media screen and (max-width: 680px) {
    grid-template-columns: auto;
    gap: 20px;
    grid-template-areas:
      "title"
      "image"
      "praices"
      "description";
  }
}

.product_card.dark {
  background-color: #424436;
}

.productImage {
  grid-area: image;
  max-height: 572px;
  cursor: pointer;
  position: relative;

  div {
    display: none;

    @media screen and (max-width: 679px) {
      background-color: #f26d22;
      height: 34px;
      color: #ffffff;
      padding: 4px 8px;
      border-radius: 4px;
      font-size: 20px;
      line-height: 26px;
      font-weight: 600;
      text-align: center;
      position: absolute;
      top: 16px;
      right: 16px;
    }
  }
}
.productImage img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.productTitle.dark {
  color: #ffffff;
}

.praicesWrapper {
  grid-area: praices;
}
.price {
  font-size: 64px;
  display: flex;
  line-height: 70.4px;
  font-weight: 700;
  color: #424436;

  @media screen and (max-width: 850px) {
    font-size: 56px;
    line-height: 61px;
  }

  @media screen and (max-width: 680px) {
    font-size: 48px;
    line-height: 52px;
    margin: 0 auto;
    justify-content: center;
  }

  @media screen and (max-width: 400px) {
    font-size: 40px;
    line-height: 44px;
  }
}

.price.dark {
  color: #ffffff;
}

.oldPrice {
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  color: #8b8b8b;
  display: flex;
  align-items: flex-end;
  margin-left: 32px;

  @media screen and (max-width: 850px) {
    font-size: 32px;
    line-height: 41px;
    margin-left: 20px;
  }

  @media screen and (max-width: 680px) {
    font-size: 28px;
    line-height: 36hpx;
    margin-left: 12px;
  }
}

.oldPrice.none {
  display: none;
}
.discount {
  background-color: #f26d22;
  height: 34px;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  text-align: center;
  margin-left: 16px;

  @media screen and (max-width: 680px) {
    display: none;
  }
}

.discount.none {
  display: none;
}
.quantity {
  display: flex;
  margin: 32px 0;
  button:not(:last-child) {
    color: #8b8b8b;
    background-color: #ffffff;
    font-size: 40px;
    padding: 0 18px;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 6px;
  }
  span {
    max-width: 70px;
    width: 100%;
    height: 58px;
    color: #424436;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    justify-content: center;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    background-color: #ffffff;
  }

  @media screen and (max-width: 900px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.quantity.dark {
  button:not(:last-child) {
    background-color: #383a2c;
  }
  span {
    background-color: #383a2c;
    color: #ffffff;
  }
}

.addButton {
  width: 100%;
  margin-left: 32px;

  @media screen and (max-width: 1000px) {
    margin-left: 20px;
  }
  @media screen and (max-width: 900px) {
    margin-left: 0;
    margin-top: 20px;
  }
}
.addToCart {
  width: 100%;
  text-wrap: nowrap;
  background-color: #92a134;
  color: #ffffff;
  padding: 16px 32px;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
}
.description {
  font-size: 16px;
  color: #424436;
  font-weight: 400;
  line-height: 20.8px;
  grid-area: description;
}

.description.dark {
  color: #dddddd;
}


.titleWrapper {
  grid-area: title;
  display: flex;
  justify-content: space-between;
}

.productTitle {
  color: #424436;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;

  @media screen and (max-width: 850px) {
    font-size: 32px;
    line-height: 35px;
  }
  @media screen and (max-width: 500px) {
    font-size: 28px;
    line-height: 30px;
  }
}

.heart {
  width: 48px;
  height: 48px;
  &.checked {
    path {
      stroke: none;
      fill: #92a134;
    }
  }
}

.heart.dark {
  path {
    stroke: #fff;
    fill: #424436;
  }
}

.heart:hover {
  path {
    fill: #424436;
  }
  cursor: pointer;
}

.breadCrumbs {
  background-color: #fffff1;
  display: flex;
  padding: 40px 0px 0px 40px;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  hr {
    width: 16px;
    height: 50%;
    border-top: 1px solid #dddddd;
  }

  div {
    padding: 8px 16px 8px 16px;
    border-radius: 6px;
    border: 1px solid #dddddd;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    text-align: center;
  }
  :not(:last-child) {
    text-decoration: none;
    color: #8b8b8b;
  }
  :last-child {
    max-width: 255px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media screen and (max-width: 710px) {
    display: none;
  }
}

.breadCrumbs.dark {
  background-color: #424436;
  color: #fff;
}

.loading {
  font-size: 30px;
  font-weight: 500;
  padding: 20px;
  color: #424436;
  background-color: #fffff1;
}
