.shopingCartTitle {
  width: 100%;
  max-width: 1440px;
  background-color: #fffff1;
  padding: 40px;
  display: flex;
  @media screen and (max-width: 1000px) {
    padding: 20px;
  }

  h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 70.4px;
    color: #424436;
    margin-right: 32px;
    text-wrap: nowrap;
    @media screen and (max-width: 768px) {
      font-size: 56px;
      line-height: 61px;
      text-wrap: wrap;
    }

    @media screen and (max-width: 600px) {
      font-size: 48px;
      line-height: 52px;
    }
    @media screen and (max-width: 400px) {
      font-size: 40px;
      line-height: 44px;
    }
  }
}

.shopingCartTitle.dark {
  background-color: #424436;
  h2 {
    color: #fff;
  }
}

.shoppingCartWrapper {
  display: flex;
  padding: 40px;
  flex-wrap: nowrap;
  background-color: #fffff1;
  width: 100%;
  max-width: 1440px;
  @media screen and (max-width: 1000px) {
    padding: 20px;
  }

  @media screen and (max-width: 900px) {
    flex-wrap: wrap;
  }
}

.shoppingCartWrapper.dark {
  background-color: #424436;
  color: #fff;
}

.orderForm {
  width: 100%;
  max-width: 548px;
  max-height: 610px;
  padding: 32px;
  border-radius: 10px;
  background-color: #f2f6d3;
  margin-left: 20px;
  h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    color: #424436;
    margin-bottom: 12px;
  }
  @media screen and (max-width:1200px) {
    padding: 32px 20px;
  }
  @media screen and (max-width:900px) {
    max-width: none;
    margin-left: 0;

    
  }
}

.orderForm.dark {
  background-color: #383a2c;
  h3 {
    color: #fff;
  }
}

.orderPrais {
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  color: #8b8b8b;

  span {
    font-weight: 700;
    font-size: 64px;
    line-height: 70.4px;
    color: #424436;
  }
}

.totalSum.dark {
  color: #fff;
}

.orderInputs {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  button {
    width: 100%;
    background-color: #92a134;
    border: none;
    border-radius: 6px;
    padding: 16px 0;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
  }
  button:active {
    background-color: #424436;
    color: #ffffff;
    transform: translateY(4px);
  }
}

.orderInputs.dark {
  input {
    border: 1px solid #8b8b8b;
    background-color: #424436;
    color: #ffffff;
  }
}

.emptyBasket {
  background-color: #fffff1;
  width: 1440px;
  max-width: 100%;
  padding: 40px;
  h2 {
    color: #282828;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 32px;
  }
  button {
    background-color: #92a134;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-wrap: nowrap;
    text-align: center;
    color: #ffffff;
    padding: 16px 56px;
    display: inline-block;
    cursor: pointer;
    border: none;
    width: 100%;
    max-width: 313px;
    border-radius: 6px;

    @media screen and (max-width: 600px) {
      font-size: 18px;
      line-height: 23px;
      padding: 12px 52px;
    }
  }
  button:active {
    background-color: #424436;
    transform: translateY(4px);
  }
  @media screen and (max-width: 1000px) {
    padding: 20px;
  }
}
.emptyBasket.dark {
  background-color: #424436;
  h2 {
    color: #fff;
  }
}

.total {
  display: flex;
  justify-content: space-between;
  p {
    padding-top: 14px;
  }
}

.titleLink {
  color: #8b8b8b;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.16px;
  text-align: center;
  border: 1px solid #dddddd;
  padding: 8px 16px;
  border-radius: 6px;
  height: 36px;
  text-decoration: none;
  text-wrap: nowrap;
}

.lineWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  hr {
    width: 100%;
    border-top: 1px solid #dddddd;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}


.shoppingCartInputs {
  // max-width: 516px;
  // width: 100%;
  //height: 58px;
  padding: 16px 32px 16px 32px;
  margin-bottom: 16px;
  border-radius: 6px;
  border: 1px solid #dddddd;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  color: #424436;
  background-color: #ffffff;
  outline: none;
}

input::placeholder {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  color: #8b8b8b;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
