.shopingCartTitle {
    font-weight: 700;
    font-size: 64px;
    line-height: 70.4px;
    color: #424436;
    width: 1440px;
    max-width: 100%;
    background-color: #fffff1;
    padding: 40px;
  }
  
  .shopingCartTitle.dark {
    background-color: #424436;
    color: #fff;
  }

  .shoppingCartWrapper{
    display: flex;
    padding: 40px;
    background-color: #fffff1;
    width: 100%;
    max-width: 1440px;
  }